@media screen and (max-width: 750px) {
    #info{
        font-size: 2rem;
        left: 0px;
        top: -16vh;
        text-align: center;
        p{

            transform: translate(0px, 0px);
        }
    }
}
